<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>CARS</h1>

<!--<ul>-->
<!--    <th:block th:each="car : ${cars}">-->
<!--        <li th:utext="${car}">..</li>-->
<!--    </th:block>-->
<!--</ul>-->

<table border="1">
    <tr>
<!--        <th>count</th>-->
        <th>Model</th>
        <th>Serial</th>
        <th>Date</th>
    </tr>

    <tr th:each="car: ${cars}">
<!--    <tr th:each="car, state : ${cars}">-->
<!--        <td th:utext="${state.count}">count</td>-->
        <td th:utext="${car.model}"></td>
        <td th:utext="${car.serial}"></td>
        <td th:utext="${car.date}"></td>
    </tr>

</table>

</body>
</html>